---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="About us">
    <Fragment slot="title">
      Empowering Vision with <br />
      <span class="text-accent dark:text-white highlight"> AI-Driven Precision</span>
    </Fragment>

    <Fragment slot="subtitle">
      Neuraception is at the forefront of AI vision technology, providing cutting-edge solutions for classification,
      detection, segmentation, heatmaps, and more. Our state-of-the-art models are customized to meet the unique demands
      of our clients, ensuring precision, scalability, and complete data security through offline, isolated operations.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps
    title="Our Values"
    subtitle="Neuraception is driven by a commitment to innovation, security, and client satisfaction. We strive to lead the industry with our advanced AI technologies while maintaining the highest standards of integrity and service."
    items={[
      {
        title: 'Client-Centric Approach',
        description:
          'At Neuraception, our clients are at the heart of everything we do. We work closely with you to understand your needs and deliver solutions that exceed your expectations.',
      },
      {
        title: 'Innovation & Excellence',
        description:
          'We are dedicated to continuous innovation, ensuring that our AI models remain at the cutting edge of technology and deliver outstanding performance.',
      },
      {
        title: 'Integrity & Transparency',
        description:
          'We believe in doing business with integrity. Our operations are transparent, and our commitment to ethical practices is unwavering.',
      },
    ]}
  />

  <Testimonials
    title="Team Neuraception"
    testimonials={[
      {
        name: 'Manish Raj Osti',
        job: 'CEO',
        image: { src: './Manish.png' },
        bio: 'With a wealth of experience in AI and Computer Vision, Manish focuses on implementing innovative AI strategies that address the unique needs of various industries. His hands-on approach ensures that Neuraception’s solutions are both practical and cutting-edge.',
      },
      {
        name: 'Clayton Cook',
        job: 'CTO',
        image: { src: './clay.jpeg' },
        bio: 'Clayton drives technological innovations across both frontend and backend at Neuraception. His expertise in full-stack development and machine learning ensures robust and scalable systems. Clayton is also deeply involved in tailoring products to meet customer needs, ensuring that Neuraception’s platforms remain at the forefront of AI technology.',
      },
      {
        name: 'Rakibul Hassan',
        job: 'CPO',
        image: { src: './rakibul.png' },
        bio: 'Rakibul plays a crucial role in shaping product strategy and execution, with a strong emphasis on frontend development. He works closely with customers to tailor solutions that exceed expectations, ensuring that Neuraception’s products are not only user-centric but also aligned with the company’s mission of delivering cutting-edge AI solutions.',
      },
      {
        name: 'Siona B.',
        job: 'Lead Frontend Engineer',
        image: { src: './Siona.png' },
        bio: 'Siona specializes in creating seamless and intuitive user interfaces. With a strong focus on frontend development, she ensures that the user experience is at the core of every product, enabling Neuraception to deliver visually appealing and highly functional AI-driven platforms.',
      },
      {
        name: 'Rajesh Upadhayaya',
        job: 'Lead AI Engineer & Researcher',
        image: { src: './Rajesh.png' },
        bio: 'Rajesh, currently pursuing his PhD in AI, specializes in the development and deployment of state-of-the-art AI algorithms. His strong background in full-stack development, combined with a passion for advancing AI research, ensures that Neuraception’s AI models are not only cutting-edge but also practical and scalable.',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact Us"
    columns={2}
    items={[
      {
        title: 'Email Us',
        description:
          'Our support team is available to assist you with any questions or issues you may have. Reach out to us via email at info@neuraception.com for quick responses.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call Us',
        description:
          'Need immediate assistance? Call our support team for real-time help with your Neuraception solutions.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
