---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Neuraception',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: 'https://neuraception.com/start',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Neuraception Hero Image' }}
  >
    <Fragment slot="title">
       <span class="hidden xl:inline">Empowering Vision with</span>
      <span class="text-accent dark:text-white highlight"> Neuraception's AI</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Neuraception</span> provides cutting-edge AI vision models for classification, detection, segmentation, and heatmaps, all tailored to your specific needs.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Neuraception: AI-driven Vision Solutions.</span>
      Offering complete data security with offline, isolated operations—no more cloud costs or vulnerabilities.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What Neuraception Offers"
    subtitle="Harness the power of AI with our state-of-the-art vision models, optimized for your unique requirements."
    items={[
      {
        title: 'Custom AI Vision Models',
        description:
          'Whether it’s classification, detection, segmentation, or custom requirements, our models are built to excel.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Solutions',
        description:
          'Pre-built models and tools that integrate seamlessly into your operations, saving time and maximizing efficiency.',
        icon: 'tabler:components',
      },
      {
        title: 'Data Security',
        description:
          'Neuraception’s solutions operate completely offline, ensuring total data privacy and security.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Scalable Performance',
        description:
          'Our models are optimized for speed and accuracy, providing real-time insights without compromising quality.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Tailored for Your Needs',
        description:
          "We work closely with you to customize our AI solutions, ensuring they meet your exact specifications.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'No Cloud Dependency',
        description:
          'Our systems are isolated from the public internet, eliminating cloud costs and enhancing security.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside Neuraception"
    title="Neuraception's Blueprint: Precision Meets Security"
    items={[
      {
        title: 'State-of-the-Art AI Models',
        description:
          'Utilizing the latest advancements in AI to deliver top-tier vision models that exceed expectations.',
      },
      {
        title: 'Secure Offline Operation',
        description:
          'Our solutions run entirely offline, providing unmatched data security and eliminating the need for cloud services.',
      },
      {
        title: 'Tailored to Your Industry',
        description:
          'Whether you’re in manufacturing, healthcare, or any other sector, we customize our models to meet your needs.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Neuraception Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern AI foundations</h3>
      Empower your operations with our secure and scalable AI vision solutions.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor our AI models to your exact needs, ensuring precision and relevance in every application.`,
      },
      {
        title: 'Multiple deployment options',
        description:
          'Deploy our models on NVIDIA Jetson, on-site servers, or PCs, with full support for offline operation.',
      },
      {
        title: 'Fully responsive solutions',
        description:
          "Our models are designed to adapt and perform optimally across various devices and setups.",
      },
      {
        title: 'Real-time processing',
        description:
          'Experience real-time inferencing and data insights with Neuraception’s optimized models.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Secure and scalable AI solutions for your industry.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced operational efficiency',
        description:
          'Leverage our AI to streamline your processes, improve accuracy, and reduce operational costs.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Our models learn and evolve, ensuring they stay aligned with the latest advancements in AI technology.',
      },
      {
        title: 'Efficient resource utilization',
        description:
          'Skip the heavy costs and resources associated with cloud-based solutions with our offline models.',
      },
      {
        title: 'Dedicated support',
        description: `Our team is here to ensure your success with ongoing support and updates.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'AI Operations Image',
    }}
  >
    <Fragment slot="content">Designed for security, built for scalability.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get started with Neuraception's AI Solutions."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact Us</span>',
        description:
          "Reach out to discuss your needs. We're ready to understand your vision and provide the best solutions.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Customize</span>',
        description:
          "Work with our team to tailor our AI models to your exact specifications, ensuring a perfect fit.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Deploy</span>',
        description:
          'Deploy your customized AI solution on your chosen platform, with full support from our team.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Key components"
    subtitle="Essential features of Neuraception's AI Solutions"
    tagline="Components"
    items={[
      {
        title: 'Classification Models',
        description: "Accurately identify and categorize objects in images or videos, tailored to your specific needs.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Detection Models',
        description:
          "Our detection models are designed for precision, ensuring accurate identification of objects within any frame.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Segmentation Models',
        description:
          'Delivering pixel-perfect segmentation, our models provide detailed insights into every image.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Heatmaps',
        description:
          "Visualize data intensity with our heatmap models, ideal for analysis and pattern recognition.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Custom Solutions',
        description:
          'Need something unique? We offer custom AI solutions tailored to your exact requirements.',
        icon: 'flat-color-icons:advertising',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Learn more about AI and Vision Models in our Blog"
    information={`Explore articles, case studies, and technical insights in our blog.
                        Stay updated with the latest trends and advancements in AI vision technology.
                        Neuraception is committed to providing you with the knowledge you need to stay ahead.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Find out more about Neuraception's AI solutions."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why choose Neuraception?',
        description:
          "Neuraception excels in providing secure, offline AI vision models that are tailored to your specific needs. Our commitment to data security and cutting-edge technology sets us apart.",
      },
      {
        title: 'What industries can benefit from Neuraception?',
        description:
          'Our solutions are versatile and can be applied across various industries including manufacturing, healthcare, retail, and more.',
      },
      {
        title: 'How do I get started with Neuraception?',
        description:
          "Getting started is easy. Contact us to discuss your needs, and we'll work with you to customize a solution that fits your requirements.",
      },
      {
        title: "What makes Neuraception's solutions secure?",
        description:
          "Our models operate completely offline, ensuring that your data is never exposed to the public internet. This eliminates the risks associated with cloud-based solutions.",
      },
      {
        title: 'Can Neuraception’s models be updated over time?',
        description:
          'Yes, our models are designed for continuous improvement, learning, and evolving to meet your ongoing needs.',
      },
      {
        title: 'Do you offer support after deployment?',
        description:
          'Absolutely. We provide ongoing support to ensure your success, with regular updates and assistance as needed.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clients Served', amount: '200+' },
      { title: 'Vision Models Deployed', amount: '500+' },
      { title: 'Industries Supported', amount: '50+' },
      { title: 'Years of Experience', amount: '10+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: 'https://neuraception.com/start',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Neuraception&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">AI Vision Models</span>
    </Fragment>

    <Fragment slot="subtitle">
      Discover the future of AI-driven vision solutions. <br class="hidden md:inline" />Join us today to see what Neuraception can do for you.
    </Fragment>
  </CallToAction>
</Layout>
