---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="Transform Your Operations with Our AI Solutions"
    subtitle="Explore our advanced AI vision models tailored to various industries and applications. From precision detection to detailed segmentation, we provide the tools you need to excel."
    actions={[{ variant: 'primary', target: '_blank', text: 'Start exploring', href: '/' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Neuraception Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore Our AI Vision Solutions"
    subtitle="Discover our offerings below to enhance and optimize your operations."
    columns={3}
    items={[
      {
        title: 'Object Classification',
        description:
          'Our models are designed to accurately classify objects in various environments, helping you streamline processes and make data-driven decisions.',
        icon: 'tabler:school',
      },
      {
        title: 'Object Detection',
        description:
          'Detect and identify objects with precision using our state-of-the-art AI models, suitable for a wide range of applications from security to manufacturing.',
        icon: 'tabler:home-star',
      },
      {
        title: 'Instance Segmentation',
        description: `Achieve pixel-perfect segmentation with our models, providing detailed insights and enhancing the accuracy of your analysis.`,
        icon: 'tabler:photo',
      },
      {
        title: 'Heatmaps',
        description:
          'Visualize data intensity with our heatmap solutions, ideal for identifying patterns and trends in your operations.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Custom AI Solutions',
        description:
          'We offer tailored AI solutions that cater to your specific needs, ensuring that our models align perfectly with your goals.',
        icon: 'tabler:article',
      },
      {
        title: 'Real-Time Processing',
        description:
          'Experience the power of real-time data processing with our AI models, providing instant insights and improving decision-making.',
        icon: 'tabler:building-store',
      },
      {
        title: 'Data Security',
        description:
          'Our solutions are built with security in mind, ensuring your data is handled with the utmost care and stored securely offline.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Scalability',
        description: `Our models are designed to scale with your business, adapting to your growing needs without compromising performance.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Continuous Improvement',
        description:
          'Our AI models are continuously updated and improved to stay at the cutting edge of technology, ensuring they deliver the best possible performance.',
        icon: 'tabler:tie',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Precision & Accuracy',
        description:
          'Our AI models are designed to deliver precise and accurate results, ensuring you get the most reliable insights for your operations.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customizable Solutions',
        description:
          'Tailor our AI solutions to your specific needs with customizable features that let you optimize performance and efficiency.',
        icon: 'tabler:settings',
      },
      {
        title: 'Secure Offline Operations',
        description:
          'Operate with confidence knowing that our AI models run completely offline, ensuring your data remains secure and private.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Real-Time Visualization',
        description:
          'Visualize your data in real-time with our advanced tools, enabling you to make informed decisions quickly and effectively.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Efficiency & Speed',
        description:
          'Our AI models are optimized for speed, helping you process large volumes of data quickly and efficiently.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional-Grade Performance',
        description:
          'Achieve professional-grade performance with our AI models, designed to meet the highest standards in the industry.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Effectiveness',
        description:
          'Reduce costs by leveraging our AI solutions, which eliminate the need for expensive cloud services and provide scalable, on-site processing.',
        icon: 'tabler:coin',
      },
      {
        title: 'Instant Implementation',
        description:
          'Deploy our AI models quickly and start seeing results immediately, with minimal setup and integration time required.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="What Our Clients Say"
    testimonials={[
      {
        testimonial: `Neuraception's AI models have transformed our operations. The accuracy and speed of their solutions have allowed us to make more informed decisions, saving us both time and money.`,
        name: 'John Doe',
        job: 'Operations Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'John Doe Image',
        },
      },
      {
        testimonial: `The offline capabilities of Neuraception's AI solutions give us the security we need in our industry. Their models are not only powerful but also customizable to our specific requirements.`,
        name: 'Jane Smith',
        job: 'CTO',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Jane Smith Image',
        },
      },
      {
        testimonial: `We’ve seen a significant improvement in our data processing efficiency since adopting Neuraception's AI solutions. Their models are robust, reliable, and have made a real impact on our bottom line.`,
        name: 'Michael Lee',
        job: 'Data Scientist',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Michael Lee Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://neuraception.com/testimonials',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Explore Our Solutions',
        href: '/',
      },
    ]}
    title="Ready to Transform Your Operations?"
    subtitle="Discover how Neuraception’s AI solutions can elevate your business."
  />
</Layout>
