---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="Transform Your Operations with Our AI Solutions"
    subtitle="Neuraception offers cutting-edge AI vision and NLP/LLM models tailored to various industries and applications. Explore our advanced solutions for precision detection, detailed segmentation, text clustering, and visual analysis. We provide domain-specific custom models with the option for a Proof of Concept (POC) before full deployment."
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore Our AI Vision and NLP/LLM Solutions"
    subtitle="Discover our offerings below to enhance and optimize your operations."
    columns={3}
    items={[
      {
        title: 'Object Classification',
        description:
          'Our models are designed to accurately classify objects in various environments, helping you streamline processes and make data-driven decisions.',
        icon: 'tabler:layout-grid',
      },
      {
        title: 'Object Detection',
        description:
          'Detect and identify objects with precision using our state-of-the-art AI models, suitable for a wide range of applications from security to manufacturing.',
        icon: 'tabler:target',
      },
      {
        title: 'Instance Segmentation',
        description: `Achieve pixel-perfect segmentation with our models, providing detailed insights and enhancing the accuracy of your analysis.`,
        icon: 'tabler:chart-pie',
      },
      {
        title: 'Heatmaps and Clustering',
        description:
          'Visualize data intensity and patterns with our solutions, ideal for identifying trends in both visual and textual data.',
        icon: 'tabler:chart-donut',
      },
      {
        title: 'Custom AI Solutions',
        description:
          'We offer tailored AI solutions that cater to your specific needs, ensuring that our models align perfectly with your goals.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Real-Time Processing',
        description:
          'Experience the power of real-time data processing with our AI models, providing instant insights and improving decision-making.',
        icon: 'tabler:clock',
      },
      {
        title: 'Text Clustering and Analysis',
        description:
          'Use our NLP/LLM solutions for clustering free text logs, analyzing relationships between textual data, and extracting actionable insights.',
        icon: 'tabler:text-recognition',
      },
      {
        title: 'Data Security',
        description:
          'Our solutions are built with security in mind, ensuring your data is handled with the utmost care and stored securely offline',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Scalability',
        description: `Our models are designed to scale with your business, adapting to your growing needs without compromising performance.`,
        icon: 'tabler:trending-up',
      },
    ]}
  />

  <!-- New Industry Applications Section -->

  <!-- Manufacturing Section ******** -->

  <Features2
    title="Some of Many Applications: "
    subtitle="Boost your manufacturing operations with AI-driven solutions."
    columns={3}
    items={[
      {
        title: 'Quality Control',
        description: 'Ensure high-quality standards with AI-powered defect detection in manufacturing processes.',
        icon: 'tabler:layout-grid',
      },
      {
        title: 'Predictive Maintenance',
        description:
          'Detect machinery wear and tear using thermal cameras and AI, predicting failures before they occur.',
        icon: 'tabler:alert-triangle',
      },
      {
        title: 'Assembly Line Optimization',
        description: 'Improve efficiency with real-time detection and alignment of components on assembly lines.',
        icon: 'tabler:settings',
      },
      {
        title: 'Inventory Management',
        description:
          'Optimize inventory management by using AI for object classification and tracking within warehouses.',
        icon: 'tabler:stack',
      },
    ]}
  />

  <!-- Healthcare/Biomedical Section ******** -->

  <Features2
    title="Healthcare & Biomedical Applications"
    subtitle="Enhance healthcare operations with precise and reliable AI and NLP solutions."
    columns={3}
    items={[
      {
        title: 'Medical Imaging',
        description: 'Enhance diagnostic accuracy with AI-powered segmentation of medical images like MRIs and X-rays.',
        icon: 'tabler:heartbeat',
      },
      {
        title: 'Lab Automation',
        description: 'Automate blood test analysis with AI, improving speed and accuracy in diagnostic laboratories.',
        icon: 'tabler:heartbeat',
      },
      {
        title: 'Patient Monitoring',
        description:
          'Monitor patients in real-time, identifying changes in vital signs or other health indicators using AI.',
        icon: 'tabler:clock',
      },
      {
        title: 'Clinical Text Analysis',
        description:
          'Use NLP/LLM models to analyze clinical notes and reports, extracting valuable insights for better patient care.',
        icon: 'tabler:text-recognition',
      },
    ]}
  />

  <!-- Other Industries Section ******** -->

  <Features2
    title="Other Industry Applications"
    subtitle="Explore AI applications across a wide range of industries."
    columns={3}
    items={[
      {
        title: 'Retail - Customer Behavior Analysis',
        description:
          'Enhance the shopping experience with AI-driven analysis of customer behavior and targeted product recommendations.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Security - Real-Time Threat Detection',
        description:
          'Deploy AI for comprehensive security coverage, using thermal and stereo cameras for real-time threat detection.',
        icon: 'tabler:shield',
      },
      {
        title: 'Agriculture - Crop Health Monitoring',
        description:
          'Optimize yield and reduce waste by analyzing crop health using AI-driven classification and segmentation.',
        icon: 'tabler:leaf',
      },
      {
        title: 'Energy - Equipment Monitoring',
        description: 'Monitor and analyze energy infrastructure with AI, ensuring efficient operation and maintenance.',
        icon: 'tabler:bolt',
      },
      {
        title: 'Legal - Document Analysis',
        description:
          'Use NLP models to analyze legal documents, extracting key information and identifying relevant precedents.',
        icon: 'tabler:file-text',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <!-- 
  <Content
    isReversed
    items={[
      {
        title: 'Precision & Accuracy',
        description:
          'Our AI models are designed to deliver precise and accurate results, ensuring you get the most reliable insights for your operations.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customizable Solutions',
        description:
          'Tailor our AI solutions to your specific needs with customizable features that let you optimize performance and efficiency.',
        icon: 'tabler:settings',
      },
      {
        title: 'Secure Offline and Cloud Operations',
        description:
          'Operate with confidence knowing that our AI models can run completely offline or in the cloud, ensuring your data remains secure and private.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Real-Time Visualization',
        description:
          'Visualize your data in real-time with our advanced tools, enabling you to make informed decisions quickly and effectively.',
        icon: 'tabler:chart-donut',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'Efficiency & Speed',
        description:
          'Our AI models are optimized for speed, helping you process large volumes of data quickly and efficiently.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional-Grade Performance',
        description:
          'Achieve professional-grade performance with our AI models, designed to meet the highest standards in the industry.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Effectiveness',
        description:
          'Reduce costs by leveraging our AI solutions, which eliminate the need for expensive cloud services and provide scalable, on-site or cloud-based processing.',
        icon: 'tabler:coin',
      },
      {
        title: 'Instant Implementation',
        description:
          'Deploy our AI models quickly and start seeing results immediately, with minimal setup and integration time required.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content> -->

  <!-- Testimonials Widget *********** -->

  <!-- <Testimonials
    title="What Our Clients Say"
    testimonials={[
      {
        testimonial: `Neuraception's AI models have transformed our operations. The accuracy and speed of their solutions have allowed us to make more informed decisions, saving us both time and money.`,
        name: 'John Doe',
        job: 'Operations Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'John Doe Image',
        },
      },
      {
        testimonial: `The offline capabilities of Neuraception's AI solutions give us the security we need in our industry. Their models are not only powerful but also customizable to our specific requirements.`,
        name: 'Jane Smith',
        job: 'CTO',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Jane Smith Image',
        },
      },
      {
        testimonial: `We’ve seen a significant improvement in our data processing efficiency since adopting Neuraception's AI solutions. Their models are robust, reliable, and have made a real impact on our bottom line.`,
        name: 'Michael Lee',
        job: 'Data Scientist',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Michael Lee Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://neuraception.com/testimonials',
      icon: 'tabler:chevron-right',
    }}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
      },
    ]}
    title="Ready to Transform Your Operations?"
    subtitle="Discover how Neuraception’s AI solutions can elevate your business. We offer Proof of Concept (POC) services to ensure our solutions meet your needs before full deployment."
  />
</Layout>
