---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center flex flex-row gap-2 items-center ml-2 rtl:ml-0 rtl:mr-2 text-3xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<svg viewBox="0 0 512 512" style="width: 2rem;">
  <g>
    <path
      d="M 228.41951,82.491577 C 126.52589,98.097909 52.256518,194.64394 43.330992,283.13711 c -8.376536,83.05017 36.402134,160.74944 119.540588,160.47878 86.64149,-0.28207 164.32637,-57.86487 197.73894,-144.60721 37.71604,-97.91459 -4.88797,-158.69028 -4.88797,-158.69028 0,0 81.47443,1.33872 104.66086,-0.92754 23.18643,-2.26626 36.18822,-43.797307 5.96234,-54.580009 C 436.11986,74.028148 330.31313,66.88525 228.41951,82.491577 Z m 12.3152,55.540103 c 75.44665,1.04738 86.16195,55.79764 55.99241,150.79008 C 266.55757,383.81421 220.14981,424.17242 157.83439,413.2664 95.518957,402.36037 94.104278,348.80798 113.32607,266.66175 132.54788,184.51551 165.28809,136.98431 240.73471,138.03168 Z"
    fill="currentColor"
    />
    <path
      d="m 141.23057,240.66767 c 13.25694,43.12361 103.42913,53.17817 141.32404,11.78913 -23.35542,106.06816 -65.90602,152.08495 -114.1727,145.89632 -48.2667,-6.18864 -65.2274,-50.00474 -27.15134,-157.68545 z"
      fill="currentColor"
    />
  </g>
</svg>
  Neuraception
</span>
